body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('images/table.jpg');
    background-size:cover;
    text-align:center;
    color:white;
    font-weight:bold;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

#start-game, #new-card{
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    border:none;
    padding-top: 5px;
    padding-bottom:5px;
    border-radius:3px;
    font-weight: bold;
    margin-top:15px;
}